/*
Theme Name: swtest
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>swtest</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: swtest
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 swtest is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
@import "reset";

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
@import "media/media";

$white: #fff;
$pink: #cf48ba;

body { 
	color: $white;
	height: 600px;
	border: $white;
	position: relative;
	top: 20px;
}
h1 {
	color: $pink;
	background: $pink;
	border: $pink;
	border: $white;

}